body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rating span{
  margin: 0.1rem;
}

/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'); */

.pricedetails{
  color: lightslategray;
}
.sidetotal{
  margin-top: 57px;
}
.productdetail{
  margin-top: 15px;
}
.xdghd{
  color: #8b0000;
}
.loginbtn{
  margin-top: 25px;
}
.removelinkunderline{
  text-decoration: none;
}